<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jvxie.report.mappers.CollegeMapper">
  <resultMap id="BaseResultMap" type="com.jvxie.report.models.College">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="property" jdbcType="TINYINT" property="property" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <result column="deleted_at" jdbcType="TIMESTAMP" property="deletedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, created_at, updated_at, deleted_at
  </sql>
  <update id="deleteById" parameterType="java.lang.Integer">
    update college
    set deleted_at = now()
    where id = #{id,jdbcType=INTEGER}
    and deleted_at is null
  </update>
  <select id="selectList" parameterType="com.jvxie.report.forms.college.CollegeListForm" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from college
    where deleted_at is null
    <if test="idBefore != null and idAfter != null">
      and id between #{idBefore,jdbcType=INTEGER} and #{idAfter,jdbcType=INTEGER}
    </if>
    <if test="name != null">
      and name like concat('%', #{name,jdbcType=VARCHAR}, '%')
    </if>
    <if test="createdAtBefore != null and createdAtAfter != null">
      and created_at between #{createdAtBefore,jdbcType=TIMESTAMP} and #{createdAtAfter,jdbcType=TIMESTAMP}
    </if>
    <if test="updatedAtBefore != null and updatedAtAfter != null">
      and updated_at between #{updatedAtBefore,jdbcType=TIMESTAMP} and #{updatedAtAfter,jdbcType=TIMESTAMP}
    </if>
  </select>
  <select id="selectById" resultType="com.jvxie.report.models.College">
    select
    <include refid="Base_Column_List" />
    from college
    where deleted_at is null
    and id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.jvxie.report.models.College" useGeneratedKeys="true">
    insert into college
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="com.jvxie.report.models.College">
    update college
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
    and deleted_at is null
  </update>
</mapper>